<div class="first_comment">
    <div class="info_comment">
        <span>{{this.user}}</span>
        <h5>{{this.date}}</h5>
    </div>
    <div class="text_comment">
        <h4>{{this.description}}</h4>
    </div>
</div>