//.header {
//  position: fixed;
//  z-index: 20;
//  right:0;
//  left:0;
//}

//#sticky_navigation {
//  background-color: #efefef;
//
//}


.navigation{
  float:left;
  width:60%;


}
.navigation-bar {
  padding-bottom:1em;
}
.logo{
  float:left;
  width:15%;

}
.logo a{
  text-decoration:none;
  //background:#222222;
  text-shadow: 1px 1px 1px silver,
  -1px 1px 1px silver;
  padding:20px;
  font-weight:400;
  //font-size:1.5em;
  font-size:25px;
  color:#f68236;
  -webkit-box-shadow:0 1px 4px #f68236, 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px #f68236, 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px #f68236, 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.navig{
  float:left;
  width:70%;
  position: relative;
}
.navig ul li{
  display: inline-block;
  margin:0 15px;
  height:30px;
  line-height:30px;
}
.navig ul li .navig-a{
  text-decoration:none;
  font-size:1em;
  font-weight:400;
  color:#303030;
transition:0.5s all;
  -webkit-transition:0.5s all;
  -o-transition:0.5s all;
  -moz-transition:0.5s all;
  -ms-transition:0.5s all;
  text-transform: uppercase;
}
.navig ul li .navig-a:hover, ul.user li .navig-a:hover{
  color:#f68236;


}
.navigation-right{
  float:right;
  text-transform: uppercase;


}
ul.user{
  padding:0
}
ul.user li{
  display: inline-block;
  line-height:30px;
  vertical-align:bottom;
  height:30px;
}

.log-in {
  margin:0 40px 0 0;
}


.dropdown-menu-women {
  padding:15px;
  position: absolute;
  min-width: 50%;
  top: 100%;
  left:0;
  visibility: hidden;
  opacity: 0;
  //-webkit-box-shadow: 0 10px 6px -6px #777;
  //-moz-box-shadow: 0 10px 6px -6px #777;
  //box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  //transition: .3s;
  h4 {
    color:#f68236;
  }
}



.navig li&:hover {
  .dropdown-menu-women{
    visibility: visible;
    opacity: 1;
    background-color: white;
    z-index:5;

  }
}


.navig li&:hover .dropdown-menu-women {
  .item {
    color:black;
    text-decoration:none;
    display: block;
    transition: .3s;
    &:hover{
      color:#f68236;
      text-decoration:none;
      display: block;
    }
  }
}



.img-nav-women {
  //background-image: url("/assets/img/gallery1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width:250px;
  height:250px;
  padding:10px;
}

.img-nav-men {
  //background-image: url("/assets/img/men-nav.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width:250px;
  height:250px;
  padding:10px;
}


.man-nav {
  float: left;
  padding:15px;
}

ul.user li span{
  width:22px;
  height:30px;
  background:url(/assets/img/icons/user-icons.png)no-repeat 0px 0px;
  display: inline-block;
  vertical-align: middle;
}
ul.user li .bascket{
  background:url(/assets/img/icons/user-icons.png)no-repeat -20px 0px;
  margin-right: 5px;
}
ul.user li a{
  text-decoration:none;
  font-size:1em;
  font-weight:400;
  color:#303030;
  vertical-align: top;
  //-webkit-transition:0.5s all;
  //-o-transition:0.5s all;
  //-moz-transition:0.5s all;
  //-ms-transition:0.5s all;

}
