@charset "utf-8";
/* CSS Document */

h1{
	color: #555;
	font-size:36px;
	line-height:36px;
	padding:20px 10px;
	border-bottom:1px #999 dashed;
	text-shadow:2px 1px 1px #fff;
	margin:20px 0;
}

h1 span {
	font-size:15px;
	font-weight:normal;
	padding-left:20px;
}

h2 {
	border-bottom:1px solid #aaa;
	padding:10px 0;
}

h3 span {
	color:#F30;
	font-weight:normal;
	font-size:14px;
	padding-left:10px;
}

.right_single h3{
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

.description_single h3{
	font-weight: 500;
	text-align: left;
}

.description_single li{
	margin-left: 30px;
}

.page_single {
	margin-top: 30px;
	max-width:95%;
	width:960px;
}

.demowrap {
	border: 4px solid #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	display:block;
}

.demowrap img {
	width:100%;
}

.right_single {
	width:38%;
	float:right;
	color:#333;
	text-shadow:1px 1px 0 #fff;
}

.left_single{
	width: 58%;
	float: left;
}

.article_single,
.price_single,
.color_single,
.size_single,
.buy_single{
	text-align: center;
}

.description_single{
	text-align: left;
}

.color_single,
.size_single{
	margin-top: 25px;
}

.buy_single{
	margin-top: 40px;
	margin-left: 30px;
}

.description_single{
	margin-top: 50px;
	margin-left: 50px;
}

.color_li{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #979797 ;
	border-radius: 50%;
	border: 1px solid #979797;
	padding: 2px;
}

.left_single ul{
	list-style: none;
	margin-top: 7px;
}

.circle {
	height: 30px;
	width: 30px;
	//border-radius: 50%;
	border: 1px solid grey;
}

.size-list a{
	color: #f77462;

}

.size-list .circle {
	padding: 7px;
	border: 1px solid #606060;
	font-size: 1.3em;

}

.button_single {
	width: 80%;
	min-width: 135px;
	max-width: 335px;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0 auto 10px;
	display: table;
	font-size: 11px;
	padding: 13px 16px 11px;
}

.btn-primary{
	color: #fff;
	background-color: #333;
	border-color: #333;
}

.details_single ul{
	margin-top: 30px;
}

.content_single li:last-child{
	margin-bottom: 30px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.info {
	text-indent:1em;
}

#option ul {
	list-style:square;
	line-height:2em;
}

#option b {
	color:#333;
	padding:0 5px;
	text-shadow:1px 1px 0 #fff;
}

#option i {
	color:#F30;
	margin-left:5px;
}

@media (max-width:320px) {
	.left {
		width: 80% !important;
	}
}
